.recommendation {
  $recommendation-rating-size: 3vw;

  &-container {
    position: relative;
    max-width: 25rem;
    margin: 0 auto;
    overflow: hidden;

    & .recommendation-poster {
      max-width: 100%;
      display: block;
      width: 100%;
      height: auto;
      transform: scale(1);
      aspect-ratio: 250/375;
      object-fit: cover;
    }

    &:hover .recommendation-poster {
      animation: zoom-in 5s linear forwards;
    }

    & .recommendation-rating {
      font-family: var(--font-family-2);
      font-weight: 500;
      font-size: 1.6rem;
      color: white;

      position: absolute;
      left: calc(50% - 1.5vw);
      bottom: 0.4rem;
      padding: 0.4rem;
      background-color: var(--color-royal-gold);
      width: $recommendation-rating-size;
      text-align: center;
      transition: all 0.8s; // longer & smoother
      opacity: 0.8;
      border-radius: 0.4rem;
    }

    &:hover .recommendation-rating {
      opacity: 1;
    }

    // flipped:
    &-flipped {
      max-width: 25rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 3.5rem;
      width: 100%;
      height: 100%;
      background-color: var(--color-golden-brown-light);
      margin: 0 auto;
      overflow: hidden;
      aspect-ratio: 250/375;

      & * {
        font-family: var(--font-family-2);
      }

      & .flipped {
        &__poster {
          transform: scale(1.2);
          width: 100%;
          margin-top: 5%;
          grid-column: 1 /-1;
          grid-row: 1/ -1;
          z-index: 1;

          &[src="default-image.jpg"] {
            margin-top: -109px;
          }
        }

        &__favorite {
          width: 2rem;
          height: 2rem;
          grid-column: 2 /3;
          grid-row: 1/ 2;
          z-index: 2;
          justify-self: right;
          margin: 0.6rem;
        }

        &__title {
          grid-column: 1/-1;
          grid-row: 1/2;
          justify-self: center;
          width: 80%;
          font-size: 1.6rem;
          text-align: center;
          padding: 1rem 1.25rem;
          background-color: #101d2c;
          color: #fff;
          align-self: end;
          transform: translateY(50%);
          z-index: 3;
          min-height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 97%;
        }

        &__info {
          font-size: 1.4rem;
          font-weight: 500;
          color: #6d5d4b;
          align-self: center;
          margin-left: 2rem;
          display: flex;
          align-items: center;
          gap: 0.8rem;
          font-size: 1.4rem;
          transform: translateY(50%);

          & img {
            width: 1.8rem;
            height: 1.8rem;
          }

          &.genre-container {
            font-weight: normal;
            grid-column: 1 /-1;
            justify-content: center;
            display: flex;
            flex-direction: column;
            margin-left: 0;
            gap: 0px;
            height: 25px;
            overflow: visible;

            margin-top: -30px;

            & .genre__recommendation {
              letter-spacing: 0.075rem;
              line-height: 95%;
            }
          }
        }

        &__btn {
          grid-column: 1 /-1;
          background-color: #c69963;
          color: #fff;
          border: none;
          border-radius: 0;
          font-family: var(--font-family-fancy-1), sans-serif;
          font-size: 1.5rem;
          font-weight: 400;
          text-transform: uppercase;
          padding: 0.5rem 3rem;
          cursor: pointer;
          transition: all 0.3s;
          transform: translateY(6%);

          &:hover {
            background-color: #b28451;
          }
        }
      }
    }
  }
}
