@import "../mixins.scss";

$details-color-dark: var(--color-blue-darker);
$details-color-light: var(--color-grey-light-3);

.media-details {
  background-color: $details-color-dark;

  & > * {
    // border: 1px solid blueviolet;
    padding: 0.5rem;
    margin: 0.5rem;

    color: $details-color-light;
  }

  &__container {
    & > * {
      // border: 1px solid blueviolet;
      padding: 0.5rem;
      margin: 0.5rem;
    }

    display: grid;
    grid-template-columns: 1fr minmax(auto, 20vw) 1fr;
    grid-template-rows: min-content 1fr auto;
    row-gap: 0;

    @media screen and (max-width: 1650px) {
      grid-template-columns: 3fr 2fr 2.5fr;
    }

    @media screen and (max-width: 1200px) {
      grid-template-columns: 1.6fr repeat(3, 1fr);
      grid-template-rows: min-content 1fr minmax(10rem, min-content);
    }

    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
      grid-template-rows: min-content 1fr minmax(5rem, min-content) minmax(10rem, min-content);
    }
  }

  & .title-container {
    text-align: center;
    display: flex;
    justify-content: center;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    cursor: default;
    margin: 0;

    & h1 {
      font-size: 3rem;
      color: var(--color-golden-brown);
      position: relative;

      & .original-title {
        font-weight: lighter;
        color: $details-color-light;
        height: 2.6rem;

        font-size: 1.5rem;

        &::before {
          content: "  ";
          display: inline-block;
          width: 1px;
          height: 2rem;
          margin: 1rem;
          margin-bottom: -3px;
          background-color: $details-color-light;
        }
      }
    }
  }

  &__img-carousel {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    align-self: center;
    display: flex;
  }

  .carousel {
    & > .control-arrow {
      width: 8rem;
    }
  }

  &__overview {
    max-width: 50rem;
    margin: auto;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: justify;

    &.lg {
      font-size: 1.8rem;
    }
    &.md {
      font-size: 1.65rem;
    }
    &.sm {
      font-size: 1.5rem;
    }
  }

  &__numbers {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    @include details-numbers-horizontal;
  }

  &__videos {
    grid-row: 2 / 4;
    grid-column: 3/ -1;
  }

  &__recommendations {
    min-height: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    &-title {
      width: 100%;
      margin: auto 2vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      @include details-title;
      font-size: 1.6rem;
    }
  }

  @media screen and (max-width: 1650px) {
    &__overview {
      grid-row: 2 / 4;
    }

    &__videos {
      grid-row: 2 / 3;
      margin: 0;
    }

    &__numbers {
      grid-column: 3 / 4;
      padding: 0;
    }
  }

  @media screen and (max-width: 1200px) {
    &__img-carousel {
      grid-row: 2 / 3;
      grid-column: 1 / 4;
    }

    &__overview {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      margin-left: 5vw;
      margin-right: 5vw;
    }

    &__videos {
      grid-row: 3 / 4;
      grid-column: 2 / -1;
      margin: 0;
      aspect-ratio: 16/9;
    }

    &__numbers {
      grid-column: 4 / -1;
      grid-row: 2 / 3;
      padding: 0;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      gap: 25px;
      width: auto;
      min-width: auto;
    }
  }

  @media screen and (max-width: 1000px) {
    &__overview {
      margin-left: 1vw;
      margin-right: 1vw;
    }
  }

  @media screen and (max-width: 700px) {
    &__overview {
      grid-column: 1 / 3;
    }
    &__videos {
      grid-column: 3 / -1;
    }
  }

  @media screen and (max-width: 500px) {
    &__container {
      > * {
        grid-column: 1 / -1;
      }
    }

    &__numbers {
      grid-row: 3 / 4;
      flex-direction: row;

      @include details-numbers-horizontal;
    }

    &__overview {
      grid-row: 4 / 5;
      padding: 2rem;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    &__videos {
      grid-row: 5 / -1;
    }
  }
}
