.recommendation {
  $recommendation-rating-size: 3vw;

  &-container {
    position: relative;
    max-width: 25rem;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;

    & .recommendation-poster {
      max-width: 100%;
      display: block;
      width: 100%;
      height: auto;
      transform: scale(1);
      aspect-ratio: 250/375;
      object-fit: cover;
    }

    &:hover .recommendation-poster {
        animation: zoom-in 5s linear forwards;
    }

    & .recommendation-rating {
      font-family: Roboto;
      font-weight: bold;
      font-size: 1.6rem;
      color: white;

      position: absolute;
      left: calc(50% - 1.5vw);
      bottom: 0.4rem;
      padding: 0.4rem;
      background-color: var(--color-royal-gold);
      width: $recommendation-rating-size;
      text-align: center;
      transition: all 0.8s; // longer & smoother
      opacity: 0.8;
      border-radius: 0.4rem;
    }

    &:hover .recommendation-rating {
      opacity: 1;
    }
  }
}