@import '../mixins.scss';
.media-details__numbers {
  display: flex;
  justify-content: space-evenly;

  &-rating {
    flex: 1;

    &.rating-container span {
      height: 0px;
      margin-top: -3px;
      display: inline-block;
    }
  }

  &-rating>* {
    margin: auto;
  }

  &-rating .rating-title {
    @include details-title;
  }

  .rating-child {
    margin-bottom: 0;

    &__main {
      font-size: 1.8rem;
      font-weight: 700;
    }

    &__secondary {
      font-size: 1.1rem;
      font-weight: 400;
    }

    &__icon {
      width: 30px;
      height: 30px;
      margin: 0px 5px -9px auto;
      display: inline;
    }

    &__aux {
      font-size: 1.2rem;
      font-weight: 400;
      color: var(--color-grey-light-4);
      margin-left: 22px;
      display: inline-block;
    }
  }
}