@mixin details-title {
  font-family: var(--font-family-2);
  letter-spacing: .16667em;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
  color: var(--color-golden-brown);
  font-size: 1.4rem;
}

@mixin details-numbers-horizontal {
  flex-direction: row;
  max-width: 340px;
  width: 340px;
  text-align: center;
  margin-top: auto;
  justify-self: center;
}